/dockers/mysql/data/*
/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/uploads/*
/vendor
/.idea
/.vagrant
/config/params.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
deploy.sh
composer.lock
.DS_Store
app/Http/Controllers/Auth/LoginController (origin).php
app/Http/Controllers/Main (origin).php
app/Http/Middleware/AuthRoles (origin).php
app/Http/Middleware/AuthMobileRoles (origin).php

/Dockerfile
/docker-compose.yml
/dockers/
